.feedback-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.feedback-header>div.NavLogo {
    position: absolute;
    width: 100%;
    background-color: #a5343a30;
    padding: 10px 10px;
    opacity: 0.5;
    display: flex;
}

.feedback-header .hadding {
    padding: 60px 10px 0px 8px;
    border-bottom: 1px solid;
}

.feedback-header .hadding h5 {
    margin: 10px 0px 10px 0px
}

.feedback-form {
    padding: 20px;
    padding-top: 100px;
    align-self: center;
    width: 100%;
    max-width: 460px;
    color: black;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 auto;
}

.feedback-form .ant-col {
    width: 100%;
    max-width: 400px;
}

.feedback-form .inputWd {
    width: 100%;
}

.feedback-form label,
.feedback-form .ant-form-item .ant-form-item-label>label {
    margin-top: 15px
}

.feedback-form .ant-space-item label {
    margin-top: 0px;
}

.feedback-form .ant-form-item {
    margin-bottom: 0px;
}

.feedback-form input,
.feedback-form .ant-select {
    width: 100%;
    height: 40px;
    /* background: linear-gradient(0deg, rgba(143, 155, 179, 0.1), rgba(143, 155, 179, 0.1)),
        linear-gradient(0deg, rgba(210, 210, 210, 0.6), rgba(210, 210, 210, 0.6)); 
     border: 1px solid #D2D2D299 */
    border: 1px solid #42404099;
}